<div ng-class="{boldTitle: (row.entity.LineStyleCode == 'B' || row.entity.LineStyleCode == 'R'), 
                rowHighlight:  row.entity.LineStyleCode =='H', 
                redText:(row.entity.LineStyleCode =='R')}" 
     class="cellValue-main">

    <div style="padding-top:0px"
         ng-if="row.entity.Line_Text == 'Units'"
         class="cellValue-centered cellUnit cellSubtotal">

        {{COL_FIELD}}

    </div>
    <div style="padding-top:0px"
         ng-if="!(row.entity.Line_Text == 'Units')"
         class="cellValue-main"
         ng-class="{cellCurrency:(row.entity.Display_Format == 'D0'|| 'D2'),
                    cellSubtotal:(row.entity.Display_Format == 'D0'|| 'D2'),
                    'cellPercentage-subtotal':(row.entity.Display_Format == 'P0'|| row.entity.Display_Format == 'P2')}">

        {{COL_FIELD|displayFormatFilter: row.entity.Display_Format}}

    </div>

</div>

